/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Body */
body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: lightgreen;
}

/* Main */
main {
    background-color: lightblue;
    
}

/* Footer */
footer {
    background-color: coral;
}