/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Overrides default styles added by browser, should be easier to style with these values */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Lato', sans-serif;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 10px 0 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu li {
    list-style-type: none;
}

.active {
    border-bottom: 1px solid;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    /* This is added to push main content down under fixed header */
    margin-top: 47px;
    padding-top: 10px;
}

/* Hero section */
#hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#hero-image {
    display: flex;
    width: 90vw;
    height: 90vw;
    max-width: 700px;
    max-height: 700px;
    border-radius: 50%;
    background-color: coral;
    background-image: url('../images/pexels-helena-jankovičová-kováčová-16395150.jpg');
    background-position: center;
    background-size: 180%;
    justify-content: center;
}

/* Hero text */
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* Footer */
footer {
    background-color: coral;
}

